In [1]:
import pandas as pd
import numpy as np

In [9]:
webtoons = pd.read_csv('./webtoons.csv', encoding='UTF8')
ratings = pd.read_csv('./ratings.csv', encoding='UTF8')

In [10]:
print(webtoons.shape)

(431, 14)

In [11]:
print(ratings.shape)

(56, 48)

In [13]:
ratings[:3]

,타임스탬프,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,7-27-2021 15:21:00,10.0,NaN,6.0,NaN,8.0,10.0,NaN,4.0,NaN,...,NaN,NaN,9.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN
1,7-27-2021 15:30:48,NaN,NaN,NaN,NaN,5.0,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7-27-2021 15:30:56,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
ratings = ratings.drop('타임스탬프', axis=1)
ratings[:3]

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,10.0,NaN,6.0,NaN,8.0,10.0,NaN,4.0,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,5.0,NaN,NaN,5.0,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
ratings = ratings.fillna(0)
ratings.head(3)

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,10.0,0.0,6.0,0.0,8.0,10.0,0.0,4.0,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
ratings_T = ratings.transpose()
ratings_T[:3]

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
신의 탑,10.0,0.0,8.0,6.0,10.0,3.0,6.0,4.0,7.0,0.0,...,2.0,8.0,0.0,1.0,5.0,8.0,0.0,0.0,0.0,9.0
참교육,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,2.0,0.0,5.0,0.0,0.0,0.0,0.0
뷰티풀 군바리,6.0,0.0,0.0,4.0,0.0,1.0,3.0,3.0,8.0,0.0,...,1.0,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9.0

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
item_sim = cosine_similarity(ratings_T, ratings_T)

In [22]:
item_sim_df = pd.DataFrame(data=item_sim, index=ratings.columns, columns=ratings.columns)

In [23]:
print(item_sim.shape)

(47, 47)

In [24]:
item_sim_df.head(3)

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
신의 탑,1.000000,0.502385,0.715238,0.646229,0.496350,0.601092,0.490596,0.714468,0.416105,0.637147,...,0.439168,0.435401,0.548054,0.511910,0.586994,0.575234,0.472472,0.413509,0.387828,0.419769
참교육,0.502385,1.000000,0.621840,0.560584,0.594597,0.520319,0.581308,0.466470,0.702175,0.418250,...,0.637565,0.623540,0.507512,0.692601,0.491654,0.649671,0.637716,0.647211,0.658591,0.664639
뷰티풀 군바리,0.715238,0.621840,1.000000,0.620867,0.517857,0.533008,0.435335,0.564881,0.530010,0.515651,...,0.523817,0.584308,0.653378,0.514012,0.545531,0.683432,0.541068,0.524331,0.558145,0.593701

In [26]:
item_sim_df["신의 탑"].sort_values(ascending=False)[:6]

신의 탑       1.000000
연애혁명       0.791874
기기괴괴       0.765009
뷰티풀 군바리    0.715238
여신강림       0.714468
프리드로우      0.708143
Name: 신의 탑, dtype: float64

In [28]:
item_sim_df["바른연애 길잡이"].sort_values(ascending=False)[1:6]

여신강림           0.855432
연애혁명           0.776805
이번 생도 잘 부탁해    0.737046
외모지상주의         0.684600
개를 낳았다         0.683665
Name: 바른연애 길잡이, dtype: float64

In [29]:
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [32]:
ratings_pred = predict_rating(ratings.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings.index, columns=ratings.columns)
ratings_pred_matrix[:3]

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,2.975794,2.488849,2.796320,2.445477,2.888278,2.994984,2.408212,2.613962,2.475062,2.463473,...,2.447271,2.492387,3.041309,2.672078,2.419475,2.833521,2.481725,2.422519,2.471491,2.454387
1,0.483136,0.337742,0.398238,0.453669,0.483016,0.427890,0.363856,0.639135,0.354150,0.681545,...,0.350953,0.286315,0.413031,0.433884,0.570553,0.348424,0.350696,0.359493,0.345835,0.319748
2,1.051582,0.680649,0.831671,0.738393,0.788669,0.746857,0.688508,0.856697,0.641461,0.865003,...,0.655015,0.630740,0.776678,0.839263,0.843975,0.717376,0.669663,0.609837,0.656076,0.600374

In [33]:
from sklearn.metrics import mean_squared_error

In [34]:
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [35]:
print('아이템 기반 모든 최근접 이웃 MSE: ', get_mse(ratings_pred, ratings.values))

아이템 기반 모든 최근접 이웃 MSE:  15.192107129183672

In [36]:
def predict_rating_topsim(ratings_arr, item_sim_arr, n=20):
    pred = np.zeros(ratings_arr.shape)

    for col in range(ratings_arr.shape[1]):
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))

    return pred

In [37]:
ratings_pred = predict_rating_topsim(ratings.values, item_sim_df.values, n=20)
print('아이템 기반 최근접 TOP-20 이웃 MSE: ', get_mse(ratings_pred, ratings.values))

아이템 기반 최근접 TOP-20 이웃 MSE:  10.751368620628405

C:\Users\sangh\AppData\Local\Temp/ipykernel_22024/665693285.py:7: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row, :][top_n_items].T)
C:\Users\sangh\AppData\Local\Temp/ipykernel_22024/665693285.py:8: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))

In [38]:
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings.index, columns=ratings.columns)

In [39]:
user_rating_id = ratings.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending=False)[:10]

1초              9.0
이번 생도 잘 부탁해     8.0
하루만 네가 되고 싶어    7.0
여신강림            6.0
Name: 9, dtype: float64

In [40]:
def get_unseen_webtoons(ratings, userId):
    user_rating = ratings.loc[userId, :]
    
    already_seen = user_rating[user_rating > 0].index.tolist()

    webtoons_list = ratings.columns.tolist()

    unseen_list = [webtoon for webtoon in webtoons_list if webtoon not in already_seen]

    return unseen_list

In [41]:
def recomm_webtoon_by_userid(pred_df, userId, unseen_list, top_n=10):
    recomm_webtoons = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm_webtoons

In [42]:
unseen_list = get_unseen_webtoons(ratings, 9)

In [43]:
recomm_webtoons = recomm_webtoon_by_userid(ratings_pred_matrix, 9, unseen_list, top_n=10)

In [44]:
recomm_webtoons = pd.DataFrame(data=recomm_webtoons.values, index=recomm_webtoons.index, columns=['pred_score'])

In [45]:
recomm_webtoons

           pred_score
모죠의 일지       1.540415
바른연애 길잡이     1.204741
개를 낳았다       1.168260
전지적 독자 시점    1.080670
연애혁명         1.067618
이두나!         1.059238
블랙 위도우       1.023289
신의 탑         0.988186
윈드브레이커       0.703916
뷰티풀 군바리      0.680826