#### "이 웹툰을 본 다른 사용자들이 본 웹툰"

# 1. 데이터 가공

In [1]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('ratings.csv')
ratings.head()

,타임스탬프,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,2021/07/27 3:21:00 오후 GMT+9,10.0,NaN,6.0,NaN,8.0,10.0,NaN,4.0,NaN,...,NaN,NaN,9.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN
1,2021/07/27 3:30:48 오후 GMT+9,NaN,NaN,NaN,NaN,5.0,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021/07/27 3:30:55 오후 GMT+9,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2021/07/27 3:31:19 오후 GMT+9,6.0,NaN,4.0,8.0,4.0,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN
4,2021/07/27 3:31:59 오후 GMT+9,10.0,NaN,NaN,8.0,NaN,9.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN

In [2]:
ratings = ratings.drop(['타임스탬프'], axis=1)
ratings = ratings.fillna(0)
ratings.head(1)

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,10.0,0.0,6.0,0.0,8.0,10.0,0.0,4.0,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0

# 2. 유사도 산출

- 사용자 평점 기준으로 영화의 유사도 생성
- 사용자의 개인적인 취향을 반영한 것 X
- cosine_similarity() 적용

In [3]:
# ratings를 전치시켜 item-user rating matrix를 만듦
ratings_matrix = ratings.transpose()
ratings_matrix.head(1)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
신의 탑,10.0,0.0,8.0,6.0,10.0,3.0,6.0,4.0,7.0,0.0,...,2.0,8.0,0.0,1.0,5.0,8.0,0.0,0.0,0.0,9.0

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

item_sim = cosine_similarity(ratings_matrix, ratings_matrix)
print(item_sim)

[[1.         0.50238481 0.71523815 ... 0.41350912 0.38782758 0.4197689 ]
 [0.50238481 1.         0.62184023 ... 0.64721132 0.65859088 0.66463873]
 [0.71523815 0.62184023 1.         ... 0.52433108 0.5581448  0.59370122]
 ...
 [0.41350912 0.64721132 0.52433108 ... 1.         0.70689176 0.8584011 ]
 [0.38782758 0.65859088 0.5581448  ... 0.70689176 1.         0.81406557]
 [0.4197689  0.66463873 0.59370122 ... 0.8584011  0.81406557 1.        ]]

In [5]:
# item_sim: numpy 행렬, title을 mapping해 DataFrame으로 변환
item_sim_df = pd.DataFrame(item_sim, index=ratings_matrix.index, columns=ratings_matrix.index)
print(item_sim_df.shape)

(47, 47)

In [6]:
item_sim_df.head(3)

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
신의 탑,1.000000,0.502385,0.715238,0.646229,0.496350,0.601092,0.490596,0.714468,0.416105,0.637147,...,0.439168,0.435401,0.548054,0.511910,0.586994,0.575234,0.472472,0.413509,0.387828,0.419769
참교육,0.502385,1.000000,0.621840,0.560584,0.594597,0.520319,0.581308,0.466470,0.702175,0.418250,...,0.637565,0.623540,0.507512,0.692601,0.491654,0.649671,0.637716,0.647211,0.658591,0.664639
뷰티풀 군바리,0.715238,0.621840,1.000000,0.620867,0.517857,0.533008,0.435335,0.564881,0.530010,0.515651,...,0.523817,0.584308,0.653378,0.514012,0.545531,0.683432,0.541068,0.524331,0.558145,0.593701

In [7]:
item_sim_df["신의 탑"].sort_values(ascending=False)[1:4]

연애혁명       0.791874
기기괴괴       0.765009
뷰티풀 군바리    0.715238
Name: 신의 탑, dtype: float64

**신의 탑**: 단순흥행작 추천

In [8]:
item_sim_df["여신강림"].sort_values(ascending=False)[1:4]

바른연애 길잡이       0.855432
연애혁명           0.811834
이번 생도 잘 부탁해    0.795206
Name: 여신강림, dtype: float64

**여신강림**: 이건 좀 신빙성 있다

In [9]:
item_sim_df["백수세끼"].sort_values(ascending=False)[1:4]

한림체육관    0.739574
입학용병     0.702674
1초       0.698934
Name: 백수세끼, dtype: float64

**백수세끼**: 그렇게 정확한 것 같지 않음

In [10]:
item_sim_df["파이게임"].sort_values(ascending=False)[1:4]

복학왕          0.729647
묵시의 인플루언서    0.686362
1초           0.668936
Name: 파이게임, dtype: float64

**파이게임**: 그렇게 정확한 것 같지 않음

In [11]:
item_sim_df["약한영웅"].sort_values(ascending=False)[1:4]

한림체육관          0.839042
더 복서           0.733731
헬퍼 2 : 킬베로스    0.719240
Name: 약한영웅, dtype: float64

**약한영웅**: 괜찮은 결과

## 2-1. 문제점

- 단순히 많이 본 웹툰이 추천되는 경우 존재

#### 사용자가 본 웹툰의 평점과 웹툰 간의 유사도를 기반으로 새롭게 모든 웹툰의 평점 측정 → 높은 순으로 출력

# 3. 개인화된 영화 추천

- 개인이 아직 관람하지 않은 영화 추천

In [12]:
# ratings_arr: 실제 평점 벡터
# item_sim_arr: item 간 유사도
def predict_rating(ratings_arr, item_sim_arr):
    ratings_pred = ratings_arr.dot(item_sim_arr) / np.array([np.abs(item_sim_arr).sum(axis=1)])
    return ratings_pred

In [13]:
ratings_pred = predict_rating(ratings.values, item_sim_df.values)
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings.index, columns=ratings.columns)
ratings_pred_matrix.head(5)

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,2.975794,2.488849,2.796320,2.445477,2.888278,2.994984,2.408212,2.613962,2.475062,2.463473,...,2.447271,2.492387,3.041309,2.672078,2.419475,2.833521,2.481725,2.422519,2.471491,2.454387
1,0.483136,0.337742,0.398238,0.453669,0.483016,0.427890,0.363856,0.639135,0.354150,0.681545,...,0.350953,0.286315,0.413031,0.433884,0.570553,0.348424,0.350696,0.359493,0.345835,0.319748
2,1.051582,0.680649,0.831671,0.738393,0.788669,0.746857,0.688508,0.856697,0.641461,0.865003,...,0.655015,0.630740,0.776678,0.839263,0.843975,0.717376,0.669663,0.609837,0.656076,0.600374
3,1.925109,1.340103,1.676633,1.837522,1.482185,1.440613,1.317388,2.011937,1.248966,1.931868,...,1.322278,1.217728,1.413906,1.404631,2.075519,1.416313,1.255385,1.326845,1.233157,1.216913
4,3.136911,2.275956,2.653259,2.960800,2.393530,2.664128,2.373736,3.449674,2.233588,3.456956,...,2.299781,2.127936,2.372565,2.421557,3.427473,2.260556,2.189022,2.214505,2.136919,2.101550

In [14]:
ratings.head(5)

,신의 탑,참교육,뷰티풀 군바리,윈드브레이커,백수세끼,파이게임,장씨세가 호위무사,여신강림,용사가 돌아왔다,바른연애 길잡이,...,스퍼맨 : 전하지 못한 이야기,광장,조조코믹스,싸움독학,이번 생도 잘 부탁해,약한영웅,열렙전사,수희0(tngmlek0),입학용병,투신전생기
0,10.0,0.0,6.0,0.0,8.0,10.0,0.0,4.0,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.0,0.0,4.0,8.0,4.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
4,10.0,0.0,0.0,8.0,0.0,9.0,0.0,9.0,0.0,10.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0

## 3-1. error 계산

- MSE 이용

In [15]:
from sklearn.metrics import mean_squared_error

# 사용자가 평점을 부여한 웹툰에 대해서만 MSE를 구함
def get_mse(pred, actual):
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [16]:
print("아이템 기반 모든 최근접이웃 MSE:", get_mse(ratings_pred, ratings.values))

아이템 기반 모든 최근접이웃 MSE: 15.192107129183672

## 3-2. 개인 맞춤 웹툰 추천

In [17]:
def predict_ratings_topsim(ratings_arr, item_sim_arr, n=5):
    
    pred = np.zeros(ratings_arr.shape)
    
    for col in range(ratings_arr.shape[1]):
        # 유사도 행렬에서 유사도가 큰 순으로 n개 데이터 행렬의 인덱스 반환
        top_n_items = [np.argsort(item_sim_arr[:, col])[:-n-1:-1]]
        
        # 개인화된 예측 평점 계산
        for row in range(ratings_arr.shape[0]):
            pred[row, col] = item_sim_arr[col, :][top_n_items].dot(ratings_arr[row,:][top_n_items].T)
            pred[row, col] /= np.sum(np.abs(item_sim_arr[col, :][top_n_items]))
            
    return pred

In [18]:
ratings_pred = predict_ratings_topsim(ratings.values, item_sim_df.values, n=5)
print("아이템 기반 모든 최근접이웃 MSE:", get_mse(ratings_pred, ratings.values))

아이템 기반 모든 최근접이웃 MSE: 5.553229365479863

C:\Users\gunso\anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  # This is added back by InteractiveShellApp.init_path()
C:\Users\gunso\anaconda3\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  if sys.path[0] == '':

In [19]:
# 계산된 예측 평점 데이터는 DataFrame으로 재생성
ratings_pred_matrix = pd.DataFrame(data=ratings_pred, index=ratings.index, columns = ratings.columns)

In [20]:
# user 0번이 평점을 준 웹툰 중 높은 순으로 5개 나열
user_rating_id = ratings.loc[0, :]
user_rating_id[user_rating_id > 0].sort_values(ascending = False)[:5]

신의 탑         10.0
파이게임         10.0
기기괴괴         10.0
묵시의 인플루언서    10.0
데드퀸          10.0
Name: 0, dtype: float64

In [21]:
# user 0에게 협업 필터링을 이용해 추천
def get_unseen(ratings_matrix, userId):
    user_rating = ratings_matrix.loc[userId, :]
    
    already_seen = user_rating[user_rating > 0].index.tolist()
    webtoon_list = ratings_matrix.columns.tolist()
    
    unseen_list = [w for w in webtoon_list if w not in already_seen]
    
    return unseen_list

In [22]:
def recomm_webtoon_by_userid(pred_df, userId, unseen_list, top_n=5):
    recomm = pred_df.loc[userId, unseen_list].sort_values(ascending=False)[:top_n]
    return recomm

In [23]:
unseen_list = get_unseen(ratings, 0)
recomm = recomm_webtoon_by_userid(ratings_pred_matrix, 0, unseen_list, top_n=5)
recomm = pd.DataFrame(data=recomm.values, index=recomm.index, columns = ['pred_score'])
recomm

             pred_score
모죠의 일지         3.486631
헬퍼 2 : 킬베로스    2.991267
연애혁명           2.711037
더 복서           2.582304
열렙전사           1.988920

In [24]:
user_rating_id = ratings.loc[4, :]
user_rating_id[user_rating_id > 0].sort_values(ascending = False)[:5]

신의 탑            10.0
바른연애 길잡이        10.0
하루만 네가 되고 싶어    10.0
전지적 독자 시점       10.0
개를 낳았다          10.0
Name: 4, dtype: float64

In [25]:
unseen_list = get_unseen(ratings, 4)
recomm = recomm_webtoon_by_userid(ratings_pred_matrix, 0, unseen_list, top_n=5)
recomm = pd.DataFrame(data=recomm.values, index=recomm.index, columns = ['pred_score'])
recomm

           pred_score
1초           9.084722
묵시의 인플루언서    8.709469
조조코믹스        6.528567
백수세끼         6.521696
뷰티풀 군바리      6.417854

In [26]:
user_rating_id = ratings.loc[7, :]
user_rating_id[user_rating_id > 0].sort_values(ascending = False)[:5]

바른연애 길잡이    10.0
1초          10.0
프리드로우       10.0
싸움독학        10.0
연애혁명         9.0
Name: 7, dtype: float64

In [27]:
unseen_list = get_unseen(ratings, 7)
recomm = recomm_webtoon_by_userid(ratings_pred_matrix, 0, unseen_list, top_n=5)
recomm = pd.DataFrame(data=recomm.values, index=recomm.index, columns = ['pred_score'])
recomm

            pred_score
묵시의 인플루언서     8.709469
한림체육관         4.902992
데드퀸           3.884735
호랑이형님         3.758873
취사병 전설이 되다    3.679245

In [28]:
user_rating_id = ratings.loc[1, :]
user_rating_id[user_rating_id > 0].sort_values(ascending = False)[:5]

바른연애 길잡이    10.0
백수세끼         5.0
여신강림         5.0
Name: 1, dtype: float64

In [1]:
unseen_list = get_unseen(ratings, 1)
recomm = recomm_webtoon_by_userid(ratings_pred_matrix, 1, unseen_list, top_n=5)
recomm = pd.DataFrame(data=recomm.values, index=recomm.index, columns = ['pred_score'])
recomm

NameError: name 'get_unseen' is not defined

In [32]:
user_rating_id = ratings.loc[9, :]
user_rating_id[user_rating_id > 0].sort_values(ascending = False)[:5]

캐슬             10.0
더 복서           10.0
모죠의 일지          9.0
이번 생도 잘 부탁해     9.0
광장              9.0
Name: 8, dtype: float64

In [33]:
unseen_list = get_unseen(ratings, 9)
recomm = recomm_webtoon_by_userid(ratings_pred_matrix, 0, unseen_list, top_n=5)
recomm = pd.DataFrame(data=recomm.values, index=recomm.index, columns = ['pred_score'])
recomm

            pred_score
묵시의 인플루언서     8.709469
조조코믹스         6.528567
한림체육관         4.902992
데드퀸           3.884735
취사병 전설이 되다    3.679245

## 3-3. 문제점

1. 보기로 넣어둔 47개의 웹툰 내에서 추천이 진행됨
    - 사용자 0번의 경우 pred_score가 제일 높은 것이 5보다 작은데, 47개 내에 추천할만한 작품이 없다는 뜻임
2. 본 작품과 추천작품의 연관성이 크게 보이지 않음
    - 인기작인 경우